/* html2canvas does NOT support oklch colors */
.print-safe,
.print-safe * {
  color: rgb(0, 0, 0) !important;
  background-color: rgb(255, 255, 255) !important;
  border-color: rgb(200, 200, 200) !important;
  box-shadow: none !important;
}
